# Dependencies
node_modules/
.pnp
.pnp.js

# Builds
dist/
build/
*.tsbuildinfo
apps/web/dist/

# Env & secrets
.env
.env.*
!.env.example
*.pem
*.key

# Logs
logs/
*.log
npm-debug.log*

# Coverage
coverage/

# OS / editors
.DS_Store
Thumbs.db
.idea/
.vscode/

# Prisma
apps/server/prisma/*.db
